<configuration>
    <appender name="CATALINA_OUT" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.base}/logs/catalina.out</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CATALINA_OUT" />
    </root>
</configuration>
